#frame {
  border: 1px solid red;
}

#block {
  width: 20px;
  height: 40px;
  background: red;
  position: relative;
}

.racer {
  position: absolute;
  left: 0;
  transition: left .5s;
}

#playerA{

}
#playerB{

}
.playerAStyle{
  left: 0;
}
.playerBStyle{
  left: 0;
}